In [4]:
import pandas as pd
import numpy as np

In [2]:
info = 'sql_data.csv'

In [5]:
data = pd.read_csv(info)

In [6]:
data

   gender  student_id  marks
0    male         100     50
1  female         200     67
2  female         201     70
3    male         202     65
4  female         203     77
5  female         204     66

In [10]:
data.sample(n =3)

## any time you run , the sample values will change

   gender  student_id  marks
1  female         200     67
0    male         100     50
2  female         201     70

In [11]:
type(data)

pandas.core.frame.DataFrame

In [12]:
data.shape

(6, 3)

In [17]:
## differente location

infos = '/Users/olivierla412/projects/data_camp/service_data_set.csv'

In [19]:
data = pd.read_csv(infos)

In [21]:
data.sample(10)

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City
42,26590480,10/31/2013 12:15:06 AM,10/31/2013 03:00:20 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Store/Commercial,11231.0,325 COLUMBIA STREET,COLUMBIA STREET,NaN,NaN,NaN,NaN,LATLONG,BROOKLYN
10,26595176,10/31/2013 01:25:12 AM,NaN,NYPD,New York City Police Department,Noise - House of Worship,Loud Music/Party,House of Worship,11218.0,3775 18 AVENUE,18 AVENUE,EAST 9 STREET,EAST 8 STREET,NaN,NaN,ADDRESS,BROOKLYN
37,26589606,10/31/2013 12:20:44 AM,10/31/2013 02:10:24 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11216.0,826 ST JOHN'S PLACE,ST JOHN'S PLACE,ROGERS AVENUE,NOSTRAND AVENUE,NaN,NaN,ADDRESS,BROOKLYN
41,26593296,10/31/2013 12:16:25 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Food Establishment,Rodents/Insects/Garbage,Restaurant/Bar/Deli/Bakery,10014.0,12 CHRISTOPHER STREET,CHRISTOPHER STREET,GREENWICH AVENUE,GAY STREET,NaN,NaN,ADDRESS,NEW YORK
23,26592304,10/31/2013 12:38:00 AM,NaN,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,11216.0,371 TOMPKINS AVENUE,TOMPKINS AVENUE,MADISON STREET,PUTNAM AVENUE,NaN,NaN,ADDRESS,BROOKLYN
27,26591379,10/31/2013 12:32:44 AM,NaN,DOHMH,Department of Health and Mental Hygiene,Harboring Bees/Wasps,Bees/Wasps - Not a beekeper,3+ Family Mixed Use Building,10025.0,501 WEST 110 STREET,WEST 110 STREET,AMSTERDAM AVENUE,BROADWAY,NaN,NaN,ADDRESS,NEW YORK
44,26592898,10/31/2013 12:12:08 AM,10/31/2013 01:13:45 AM,NYPD,New York City Police Department,Noise - Park,Loud Talking,Park/Playground,10457.0,CROTONA PARK NORTH,CROTONA PARK NORTH,CLINTON AVENUE,PROSPECT AVENUE,NaN,NaN,BLOCKFACE,BRONX
38,26592083,10/31/2013 12:20:00 AM,NaN,DOT,Department of Transportation,Traffic Signal Condition,Controller,NaN,11213.0,NaN,NaN,NaN,NaN,BUFFALO AVENUE,PARK PLACE,INTERSECTION,BROOKLYN
33,26593872,10/31/2013 12:29:47 AM,10/31/2013 12:38:29 AM,NYPD,New York City Police Department,Noise - House of Worship,Banging/Pounding,House of Worship,10025.0,NaN,NaN,NaN,NaN,WEST 99 STREET,AMSTERDAM AVENUE,INTERSECTION,NEW YORK
28,26594085,10/31/2013 12:32:08 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,10026.0,121 WEST 116 STREET,WEST 116 STREET,LENOX AVENUE,7 AVENUE,NaN,NaN,ADDRESS,NEW YORK

# Exporting data

In [23]:
data.to_csv('service_data_set.csv')

## to retrived specific columns

In [28]:
data1= data[['Created Date','Closed Date']]

In [27]:
data.dtypes

Unique Key                 int64
Created Date              object
Closed Date               object
Agency                    object
Agency Name               object
Complaint Type            object
Descriptor                object
Location Type             object
Incident Zip             float64
Incident Address          object
Street Name               object
Cross Street 1            object
Cross Street 2            object
Intersection Street 1     object
Intersection Street 2     object
Address Type              object
City                      object
dtype: object

## options.display.max_rows
#### Restriction on the number of rows should display any time you run your DataFrame

In [29]:

pd.options.display.max_rows = 8

In [31]:
data

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,Street Name,Cross Street 1,Cross Street 2,Intersection Street 1,Intersection Street 2,Address Type,City
0,26589651,10/31/2013 02:08:41 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Talking,Street/Sidewalk,11432.0,90-03 169 STREET,169 STREET,90 AVENUE,91 AVENUE,NaN,NaN,ADDRESS,JAMAICA
1,26593698,10/31/2013 02:01:04 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,11378.0,58 AVENUE,58 AVENUE,58 PLACE,59 STREET,NaN,NaN,BLOCKFACE,MASPETH
2,26594139,10/31/2013 02:00:24 AM,10/31/2013 02:40:32 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10032.0,4060 BROADWAY,BROADWAY,WEST 171 STREET,WEST 172 STREET,NaN,NaN,ADDRESS,NEW YORK
3,26595721,10/31/2013 01:56:23 AM,10/31/2013 02:21:48 AM,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Horn,Street/Sidewalk,10023.0,WEST 72 STREET,WEST 72 STREET,COLUMBUS AVENUE,AMSTERDAM AVENUE,NaN,NaN,BLOCKFACE,NEW YORK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,26590446,10/31/2013 12:11:58 AM,10/31/2013 01:54:38 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10459.0,819 EAST 167 STREET,EAST 167 STREET,UNION AVENUE,PROSPECT AVENUE,NaN,NaN,ADDRESS,BRONX
46,26595546,10/31/2013 12:09:07 AM,10/31/2013 12:53:12 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10465.0,4005 EAST TREMONT AVENUE,EAST TREMONT AVENUE,SAMPSON AVENUE,GERBER PLACE,NaN,NaN,ADDRESS,BRONX
47,26595944,10/31/2013 12:08:47 AM,NaN,TLC,Taxi and Limousine Commission,Taxi Complaint,Driver Complaint,NaN,10036.0,NaN,NaN,NaN,NaN,WEST 46 STREET,10 AVENUE,INTERSECTION,NEW YORK
48,26595084,10/31/2013 12:07:45 AM,10/31/2013 01:43:11 AM,NYPD,New York City Police Department,Noise - Commercial,Loud Music/Party,Club/Bar/Restaurant,10014.0,12 CHRISTOPHER STREET,CHRISTOPHER STREET,GREENWICH AVENUE,GAY STREET,NaN,NaN,ADDRESS,NEW YORK