In [1]:
##### __Saturday__: 12/02/2021

In [2]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
matrix = [list_1,list_2,list_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [3]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
indexing = [ col[1] for col in matrix]

In [5]:
indexing

[2, 5, 8]

### __extend([])__ method

In [6]:
indexing.extend([100,200,300])

In [7]:
indexing

[2, 5, 8, 100, 200, 300]

In [8]:
indexing.remove(100)

In [9]:
indexing

[2, 5, 8, 200, 300]

In [10]:
def even_check(num) :
    if num % 2 == 0 :
        print(num, 'is an Even number')
    else:
        print(num,'is not an even  but Old number !')

In [11]:
even_check(21)

21 is not an even  but Old number !

## How to filter using __set()__ method

In [12]:
# example1

vs = [1,1,1,2,2 ,4, 7, 100, 200,200,100]
vs

[1, 1, 1, 2, 2, 4, 7, 100, 200, 200, 100]

In [13]:
vs.count(100)

2

In [14]:
vs.index(100)

7

In [15]:
## remove duplicate for uniquinesse
uniq = set(vs)

In [16]:
uniq

{1, 2, 4, 7, 100, 200}

In [17]:
 sum = 0
for x in uniq :
    sum += x
print('total sum is :',sum)

total sum is : 314

In [18]:
for t in uniq :
    if t == 1 :
        print("yes we have 1 in the set")
    else:
        print(t)

yes we have 1 in the set
2
100
4
7
200

In [19]:
i = 0
while i < 9 :
    print(i)
    i+=1
    if (i == 7):
        break

0
1
2
3
4
5
6

In [20]:
j = 0
while j < 9 :
    j+=1
    if (j == 3):
        continue
    print(j)

1
2
4
5
6
7
8
9

In [21]:
n = 10
k = 0
sum = 0
while k <= n :
    sum += k
    k +=1
print(sum)

55

# How to find all the of a container like __Tuple__,__List__ ,__Dict__
### after variable name : PUT dot and press Tab (ex: var1.TAB)

##### __Sunday__: 14/02/2021

In [22]:

t = (1,2,4)

In [23]:
t.count(1)

1

In [24]:
a = {'a1':[100,300]}

In [25]:
a['a1'][1]

300

In [26]:
yes = {'b1':'oli','b2':['yes yes ','no no',33,466]}

In [27]:
yes['b2'][3]

466

In [28]:
yes.keys()

dict_keys(['b1', 'b2'])

In [29]:
yes.values()

dict_values(['oli', ['yes yes ', 'no no', 33, 466]])

In [30]:
yes.items()

dict_items([('b1', 'oli'), ('b2', ['yes yes ', 'no no', 33, 466])])

In [31]:
ys = yes.items()

In [32]:
type(ys)

dict_items

# for loop

In [33]:
## break

city = ['Bangalore','Hydrabad','Chenail','Noida','Mumbai','Delhi']

In [34]:
for x in city:
    
    if x == 'Noida':
        break
    print(x)

Bangalore
Hydrabad
Chenail

In [35]:
for y in city:
    if y == 'Noida':
        continue
    print(y)
print('...End...\t')

Bangalore
Hydrabad
Chenail
Mumbai
Delhi
...End...

# range function , __range__()

### it takes 3 parameters (__start_point__, __End_point__, __Step_size__)

In [36]:
print(range(100))

range(0, 100)

In [37]:
for x in range(0,100,5):
    if x == 30 :
        break
    print(x)

0
5
10
15
20
25

In [38]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [39]:
print(list(range(-10,2,2)))

[-10, -8, -6, -4, -2, 0]

In [40]:
''' yes it is comment this line'''

' yes it is comment this line'

In [41]:
def my_function(name,age):
    print('what is your name? %s ' %name,'and I am', age, 'old')

In [42]:
 cool = my_function('Assie houphouet olivier',28)

what is your name? Assie houphouet olivier  and I am 28 old

In [43]:
cool

## use { __return__ } if you want to store the result into another variable

In [44]:

## use return if you want to store the result into another variable


def addn(n1,n2):
    return n1 + n2

In [45]:
result = addn(1,2)

In [46]:
print(result)

3

In [47]:
text = """ Good morning
guys my name
is Olivier and 
come from Ivory Coast 
which is a west Africa Country
"""

In [48]:
print(text)

 Good morning
guys my name
is Olivier and
come from Ivory Coast
which is a west Africa Country

In [49]:
l = (1,2,3,4,'yes')

In [50]:
l.count(1)

1

# set() is useful for checking for __membership__

In [51]:
s = {1,2,3,11,33,12,'olivier','pvcoding20'}

In [52]:
'pvcoding' in s

False

In [53]:
'pvcoding20' in s

True

In [54]:
if 'olivier' in s:
    print('yes Oliver is a member')

yes Oliver is a member

# Iteration in python

In [55]:
address = {
    'name':'Assie Houphouet Olivier',
    'Email':'pvcoding@gmail.com',
    'Zip_code':'+225',
    'Country':'Ivory Coast',
    'Location':'West Africa'
}

In [56]:

# 1) print only values

for x in address.values():
    print(x)

Assie Houphouet Olivier
pvcoding@gmail.com
+225
Ivory Coast
West Africa

In [57]:


# 2) print keys and values

for key, value in address.items():
    print(key,':', value)

name : Assie Houphouet Olivier
Email : pvcoding@gmail.com
Zip_code : +225
Country : Ivory Coast
Location : West Africa

## __lambda__ function

In [ ]:
lambda args : expression

In [59]:
# single argument

va= lambda y: y + 10
print(va(10))

20

In [67]:
# multiple arguments

lambda_funtion = lambda a,b: a / b

In [64]:
lambda_funtion(9,9)

1.0

In [65]:
lambda_funtion(100,9)

11.11111111111111

# __Map__ function

### __map()__ is a function which takes two arguments : function() and data
### __map( function, data)__

In [71]:
def fahrenheit(T):
    return ((float(9)/5) * T + 32)
def celsius(T):
    return (float(5) /9) * (T -32)

temp = [12,0,44,37,22]
func = list(map(fahrenheit, temp ))

In [72]:
print(func)

[53.6, 32.0, 111.2, 98.60000000000001, 71.6]


# __filter()__ function

### __filter()__ is a function which t`akes two arguments : function() and data
### __filter( function, data)__

In [85]:
def even_check(num):
    if num % 2 == 0 :
        return True

In [86]:
vivo = range(20)

In [87]:
oppo = list(filter(even_check, vivo))

In [88]:
oppo

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# filter function with lambda

In [79]:
vv = list(filter(lambda a: a % 2 == 0,vivo))

In [80]:
vv

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [97]:
import os 
import mysql.connector

In [98]:
mydb = mysql.connector.connect(
host='localhost',
user ='root',
password = 'Assie@225')