##### __Saturday__: 12/02/2021

In [ ]:
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]
matrix = [list_1,list_2,list_3]
matrix

In [28]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [44, 55, 66]]

In [30]:
indexing = [ row[1] for row in matrix]

In [31]:
indexing

[2, 5, 8, 55]

### __extend([])__ method

In [33]:
indexing.extend([100,200])

In [34]:
indexing

[2, 5, 8, 55, 100, 200]

In [35]:
indexing.remove(100)

In [36]:
indexing

[2, 5, 8, 55, 200]

In [39]:
def even_check(num) :
    if num % 2 == 0 :
        print(num, 'is an Even number')
    else:
        print('it is not an even  but Old number !')

In [41]:
even_check(200)

200 is an Even number

## How to filter using __set()__ method

In [59]:
# example1

vs = [1,1,1,2,2 ,4, 7, 100, 200,200,100]
vs

[1, 1, 1, 2, 2, 4, 7, 100, 200, 200, 100]

In [62]:
vs.count(100)

2

In [64]:
vs.index(100)

7

In [12]:
## remove duplicate for uniquinesse
uniq = set(vs)

In [58]:
uniq

{1, 2, 4, 7, 100, 200}

In [14]:
 sum = 0
for x in uniq :
    sum += x
print('total sum is :',sum)

total sum is : 314

In [49]:
for t in uniq :
    if t == 1 :
        print("yes we have 1 in the set")
    else:
        print(t)

yes we have 1 in the set
2
100
4
7
200

In [ ]:
i = 0
while i < 9 :
    print(i)
    i+=1
    if (i == 7):
        break

In [ ]:
j = 0
while j < 9 :
    j+=1
    if (j == 3):
        continue
    print(j)

In [ ]:
n = 10
k = 0
sum = 0
while k <= n :
    sum += k
    k +=1
print(sum)

# How to find all the of a container like __Tuple__,__List__ ,__Dict__
### after variable name : PUT dot and press Tab (ex: var1.TAB)

##### __Sunday__: 14/02/2021

In [65]:

t = (1,2,4)

In [66]:
t.count(1)

1

In [118]:
a = {'a1':[100,300]}

In [122]:
a['a1'][1]

300

In [89]:
yes = {'b1':'oli','b2':['yes yes ','no no',33,466]}

In [93]:
yes['b2'][2]

3

In [94]:
yes.keys()

dict_keys(['b1', 'b2'])

In [96]:
yes.values()

dict_values(['oli', ['yes yes ', 'no no', 3, 4]])

In [97]:
yes.items()

dict_items([('b1', 'oli'), ('b2', ['yes yes ', 'no no', 3, 4])])

# for loop

In [99]:
## break

city = ['Bangalore','Hydrabad','Chenail','Noida','Mumbai','Delhi']

In [100]:
for x in city:
    
    if x == 'Noida':
        break
    print(x)

Bangalore
Hydrabad
Chenail

In [115]:
for y in city:
    if y == 'Noida':
        continue
    print(y)
print('...End...\t')

Bangalore
Hydrabad
Chenail
Mumbai
...End...

# range function , __range__()

### it takes 3 parameters (__start_point__, __End_point__, __Step_size__)

In [123]:
print(range(100))

range(0, 100)

In [ ]:
for x in range(0,100,2):
    if x == 30 :
        break
    print(x)

In [129]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [135]:
print(list(range(-10,0)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [136]:
''' yes it is comment this line'''

' yes it is comment this line'

In [150]:
def my_function(name):
    print('what is your name? %s' %name)

In [151]:
 cool = my_function('Assie houphouet olivier')

In [152]:
cool

'what is your name? Assie houphouet olivier'

## use { __return__ } if you want to store the result into another variable

In [146]:

## use return if you want to store the result into another variable


def addn(n1,n2):
    return n1 + n2

In [148]:
result = addn(1,2)

In [149]:
print(result)

3