In [5]:
import os
import mysql.connector
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
my_db = mysql.connector.connect(
host = 'localhost',
user = 'root',
password = 'Assie@225',
db = 'girrafe' 
)

In [10]:
my_db

In [11]:
data_tables = pd.read_sql_query('SHOW TABLES FROM girrafe',my_db)

In [14]:
data_tables

  Tables_in_girrafe
0            branch
1   branch_supplier
2            client
3          Employee
4      trigger_test
5         work_with

In [15]:
serie_tables = data_tables['Tables_in_girrafe']

In [19]:
for table in serie_tables:
    output = pd.read_sql_query('DESCRIBE {}'.format(table),my_db)
    print(table)
    print(output,'\n')

branch
            Field            Type Null  Key Default Extra
0       branch_id          b'int'   NO  PRI    None
1     branch_name  b'varchar(40)'  YES         None
2          mgr_id          b'int'  YES  MUL    None
3  mgr_start_date         b'date'  YES         None

branch_supplier
           Field            Type Null  Key Default Extra
0      branch_id          b'int'   NO  PRI    None
1  supplier_name  b'varchar(40)'   NO  PRI    None
2    supply_type  b'varchar(40)'  YES         None

client
         Field            Type Null  Key Default Extra
0    client_id          b'int'   NO  PRI    None
1  client_name  b'varchar(40)'  YES         None
2    branch_id          b'int'  YES  MUL    None

Employee
        Field            Type Null  Key Default Extra
0      emp_id          b'int'   NO  PRI    None
1  first_name  b'varchar(40)'  YES         None
2   last_name  b'varchar(40)'  YES         None
3  birth_date         b'date'  YES         None
4         sex   b'varchar(1)'  YES         None
5      salary          b'int'  YES         None
6    super_id          b'int'  YES  MUL    None
7   branch_id          b'int'  YES  MUL    None

trigger_test
     Field             Type Null Key Default Extra
0  message  b'varchar(100)'  YES        None

work_with
         Field    Type Null  Key Default Extra
0       emp_id  b'int'   NO  PRI    None
1    client_id  b'int'   NO  PRI    None
2  total_sales  b'int'  YES         None